<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  #myModal{
    width: 750px;
    margin: auto;
  }

  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    float:left;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #leftbox { 
                float:left;  
                width:40%; 
                height:20px; 
            } 
            
</style>

<head>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <a class="navbar-brand">Menu</a> <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/objective">Objective</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/about">About us</a>
        </li>
      </ul>

    </div>
  </nav>
  <title>REQ - Raciocínio Espacial Qualitativo</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body style="background-color: #343a40;">
  
    <div class="card bg-dark text-white">
      <img style="opacity: 0.2;" class="card-img" src="https://miro.medium.com/max/900/1*EYtn2YE7b6MTzMQyD2R3nA.jpeg" alt="Card image">
      <div class="card-img-overlay">
       <br>
       <br>
       <header style="text-align: left;">
        <h1>REQ - Choose your indoor image</h1>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <div style="text-align: center;" class="card-group">
            <div class="card text-white bg-dark mb-3">
              <div class="card-body">
                <form action="/api/v1/mobilenet" method=POST enctype=multipart/form-data>
              
                  <div class="form-group">
                    
                    <label for="upload_image">Select a file:</label>
                    
                    <input style="text-align: center;" class="form-control-file" type="file" name="upload_image" accept=".jpg, .jpeg">
                    <small style="color: white">The image must be from an internal environment to be processed.</small>
                    <br>
                    <br>
                    <br>
                    <br>
                    <!--input class="btn btn-success" type="submit"-->
                    <button data-toggle="modal" data-target="#myModal" type="submit" class="btn1 btn btn-success">Submit Image</button>
                    <br>

                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-sm" style="text-align: center!important;">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div  style="color: black;"class="modal-header">
                            <h4 class="modal-title">Processing</h4>
                          </div>
                            <div class="modal-body">
                              <div id = "boxes"> 
                                  
                                <div id = "leftbox"></div>
                                
                                <div style="display: none;" class="carrega loader"></div> 
                            
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    

                  </div>
                </form>
              </div>
            </div>
            
          </div>
            
        </div>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    
    $(document).ready(function(){
      $(".btn1").click(function(){
        $(".carrega").show();
      }); 
    });

  </script>

</body>
</html>